.container {
    border: black solid;
}

.letterDiv {
    height: 50px;
    width: 40px;
    float: left;
    margin: 0 5px;
    text-align: center;
    font-size: 40px;
    line-height: 100%;
    padding-top: 5px;
}

.greenLetter, .redLetter {
    height: 25px;
    width: 20px;
    float: left;
    text-align: center;
}

.greenLetter {
    color: green;
}
.redLetter {
    color: red;
}

#pTop, #pBottom {
    margin: auto;
}

#wordDisplay {
    height: 50px;
    /*width: 100%; */
    width: auto;
    margin: auto;
    background-color: yellow;
}

#resultDisplay {
    
    border: green dashed;
    height: 80px;
}

#resultText {
    margin: auto;
    height: 40px;
    
};

#resultImg {
    height: 150px;
    width: 150px;
}


